@charset "UTF-8";

.form {
	position: absolute;
	top: 10%;
	left: 30%;
	text-align: center;
	font-size: 30px;
}

h1 {
	color: red;
	text-align: center;
	text-decoration: underline;
}

tr, td {
	padding: 15px;
	text-align: left;
}

input[type="text"] {
	width: 300px;
	radius: 20%;
}

input[type="submit"] {
	font-size: 20px;
	width: 100%;
}

select {
	width: 300px;
	font-size: 20px;
}